<window type="dialog" id="10000">
    <controls>
        <include>Background</include>
        <include>Header</include>
        <control type="image"><left>260</left><top>180</top><width>1400</width><height>700</height><texture>colors/black.png</texture><colordiffuse>F5102A49</colordiffuse></control>
        <control type="label"><left>350</left><top>245</top><width>1200</width><height>54</height><font>Title</font><textcolor>Mint</textcolor><label>SETTINGS</label></control>
        <control type="list" id="5"><left>350</left><top>340</top><width>1200</width><height>450</height><itemgap>10</itemgap><itemlayout height="62"><control type="label"><left>24</left><top>10</top><width>1160</width><height>42</height><font>Tile</font><textcolor>Muted</textcolor><label>$INFO[ListItem.Label]</label></control></itemlayout><focusedlayout height="62"><control type="image"><left>0</left><top>0</top><width>8</width><height>62</height><texture>colors/white.png</texture><colordiffuse>FFFFBF69</colordiffuse></control><control type="label"><left>24</left><top>10</top><width>1160</width><height>42</height><font>Tile</font><textcolor>White</textcolor><label>$INFO[ListItem.Label]</label></control></focusedlayout></control>
        <include>Footer</include>
    </controls>
</window>
